install/pkgs
.cask
abbrev_defs
auto-save-list
docsets
elpa*
projectile-bookmarks.eld
undo-tree-history
projectile.cache
url
recentf
emacs.d/eshell
emacs.d/vendor/ycmd
emacs.d/vendor/YCM-Generator

GPATH
GRTAGS
GTAGS
